::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
  background: var(--brown-300);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--brown-400);
}

html.no-transition,
html.no-transition *,
html.no-transition *::before,
html.no-transition *::after {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
  }
}
